.note-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 334px;
  overflow-y: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
